*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#canvas1
{
    border: 5px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 100%;
    max-height: 100%;

}
body
{
    background-color:#222222 ;
}
#player,#layer1,#layer2,#layer3,#layer4,#layer5,#Enemy_fly,#Enemy_plant,#Enemy_spider,#fire,#boom
{
    display: none;
}

.ArrowUp img
{
    border-radius: 10px;
    width: 170px;
    display: flex;
    justify-content: center;
}
.ArrowUp
{
    display: flex;
    color: white;
    position: relative;
}
.ArrowUp::before
{
    content: 'Прыжок';
    width: 100px;
    height: 50px;
    position: absolute;
    top: -25%;
    left: 33%;
}
.ArrowUp::after
{
    content: 'Движение влево';
    width: 150px;
    height: 50px;
    position: absolute;
    top: 65%;
    left: -75%;
}
.ArrowUp span::after
{
    content: 'Движение вправо';
    width: 150px;
    height: 50px;
    position: absolute;
    top: 65%;
    left: 110%;
}
.ArrowUp span::before
{
    content: 'В прыжке - мощьный удар по земле, На земле - присесть';
    width: 250px;
    height: 50px;
    position: absolute;
    top: 110%;
    left: -21%;
}
.num1 img
{
    width: 50px;
}
.num1
{
    top: 0;
    right: 2%;
    position: absolute;
}
.num1::before
{
    position: absolute;
    content: 'Супер способность - "Колесо судьбы"';
    color: white;
    width: 250px;
    height: 50px;
    top: 0;
    left: 140%;
}
.PlayerKey
{
    position: absolute;
    top: calc(50% + 300px);
    left:calc(50% - 100px)
}

#dr
{
    position: absolute;
    top: 0;
    right: 0;
    width: 30vw;
    z-index: -2;
}
#dr2
{
    position: absolute;
    top: 0;
    left: 0;
    /*width: 50vw;*/
    z-index: -2;
}